{% extends "base.html" %}

{% load static %}

{% block page_content %}
<div class="hamburger" onclick="toggleMenu(this)" style="z-index: 4;">
  <div class="bar1"></div>
  <div class="bar2"></div>
  <div class="bar3"></div>
</div>

<!-- Create a side bar menu element with some links -->
<div class="sidebar" style='z-index: 3;'>
  <a href="#" class="active">Home</a>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Contact</a>
</div>
<header>    
  <nav>
      <button><a href="{% url 'contact' %}">About</a></button> 
      <button><a href="">Services</a></button>
      <button><a href="{% url 'portfolio' %}">portfolio</a></button> 
  </nav>
</header>

  <h1>Credentials</h1>
  <ul>
    {% for cred in credential_data %}
      <li>{{ cred.title }}</li>
      <!-- Add more fields as needed -->
    {% endfor %}
  </ul>

  <!-- Pagination -->
  <div class="pagination">
    <span class="step-links">
      {% if credential_data.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ credential_data.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
        Page {{ credential_data.number }} of {{ credential_data.paginator.num_pages }}.
      </span>

      {% if credential_data.has_next %}
        <a href="?page={{ credential_data.next_page_number }}">next</a>
        <a href="?page={{ credential_data.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
    </span>
  </div>
{% endblock %}

{% endblock page_content %}