{% extends "base.html" %}

{% load static %}

{% block page_content %}
<div class="hamburger" onclick="toggleMenu(this)" style="z-index: 4;">
  <div class="bar1"></div>
  <div class="bar2"></div>
  <div class="bar3"></div>
</div>

<!-- Create a side bar menu element with some links -->
<div class="sidebar" style='z-index: 3;'>
  <a href="#" class="active">Home</a>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Contact</a>
</div>
<header>    
  <nav>
      <button><a href="{% url 'contact' %}">About</a></button> 
      <button><a href="">Services</a></button>
      <button><a href="{% url 'portfolio' %}">portfolio</a></button> 
  </nav>
</header>
<h1 style="color: white; line-height: 0.2;font-family: 'Montserrat', sans-serif;font-weight: 3000;font-size: 55px;margin-left: 35vw;margin-top: 25vh;position: fixed;">My Skill set</h1>
<div class="container">
    <div class="sentence-animation">
      <div class="sentence">Linux Administration</div>
      <div class="sentence">Web Development</div>
      <div class="sentence">Python Scripting</div>
      <div class="sentence">Graphic Designing</div>
      <div class="sentence">Javascript</div>
    </div>
  </div>
<a href="">
    <div class="cred">
        <h3>credentials     <img src="{% static 'personal_portfolio/5.png' %}" alt="credentials" style="width: 2vw; height: 4.2vh;"></h3>
    </div>
</a>
{% endblock page_content %}
