{% extends "base.html" %}

{% load static %}

{% block page_content %}
<div class="hamburger" onclick="toggleMenu(this)" style="z-index: 4;">
  <div class="bar1"></div>
  <div class="bar2"></div>
  <div class="bar3"></div>
</div>

<!-- Create a side bar menu element with some links -->
<div class="sidebar" style='z-index: 3;'>
  <a href="#" class="active">Home</a>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Contact</a>
</div>
<header>    
  <nav>
      <button><a href="{% url 'contact' %}">About</a></button> 
      <button><a href="">Services</a></button>
      <button><a href="{% url 'portfolio' %}">portfolio</a></button> 
  </nav>
</header>

<p style="color: white; font-size: 55px; text-align: left; font-weight: 300; margin-left: 1vw;">Update {{ Experience.category }}</p>

<form method="POST" style="max-width: 600px; margin: 0 auto;">
    {% csrf_token %}

    <label for="title" style="display: block; margin-bottom: 10px;">Category:</label>
    <input type="text" id="title" list="category" name="category" value="{{ experience.category }}" style="width: 100%; padding: 10px; box-sizing: border-box; margin-bottom: 15px;">

    <label for="organization" style="display: block; margin-bottom: 10px;">Organization:</label>
    <input type="text" name="organization" id="credential" value="{{ experience.organization }}" style="width: 100%; padding: 10px; box-sizing: border-box; margin-bottom: 15px;">

    <label for="role" style="display: block; margin-bottom: 10px;">Role:</label>
    <input type="text" name="role" id="description" value="{{ experience.role }}" style="width: 100%; padding: 10px; box-sizing: border-box; margin-bottom: 15px;">

    <input type="submit" value="Update Experience" style="background-color: #4CAF50; color: white; padding: 10px 15px; border: none; cursor: pointer; border-radius: 5px;">
</form>

{% endblock page_content %}
